{% extends 'base.html' %}
{% block content %}
<header class="jumbotron topper">
  <H1 class="welcome">Apprater</H1>
  <h3 class="sub">Rate My Apps</h3>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-2 sm-0  hidden-xs"></div>
    <div class="col-md-8 col-xs-12">
      {% for post in object_list %}
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade">
          <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
          <a href="{% url 'details' post.pk %}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
      
          <!-- Title -->
          <h4 class="card-title"><strong>{{post.name}}</strong></h4>
          <!-- Subtitle -->

          <p class="card-text">{{post.description}}</p>
      
          <a class="px-2 fa-lg tw-ic"><i class="fas fa-chart-line"></i> {{post.avg_rating}}</a>
          
        </div>
      
      </div>
      <!-- Card Wider -->
      {%endfor%}
    </div>
    <div class="col-md-2 hidden-xs"></div>
  </div>
</div>
{%endblock%}